// ==================================
// Variables
// ==================================

// grid

$g-col-width      : 64px;
$g-gutter-width   : 32px;
$g-col-count      : 12;
$g-count-max-w    : 1152px;

// Breakpoints

$brkpoint-sm   :  1px;
$brkpoint-med  :  768px;
