// ======================
// Keyframes
// ======================
@keyframes offset {
  0% {
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes dashed {
  100% {
    stroke-dasharray: 5px;
  }
}

@keyframes runner {
  100% {
    stroke-dashoffset: 1050px;
  }
}

// ======================
// Shape animation
// ======================

#shapes {
  opacity: 0;
  position: relative;
  top: 15px;
}

  .shape {
    animation: offset 2s linear forwards, dashed .01s linear forwards, runner 8s linear infinite forwards;
  }
  .shape-1 {
   @include stroke(1700px,1700px);
   animation-delay: 2.3s, 4s, 4s;
  }
  .shape-2 {
    @include stroke(1600px,1600px);
    animation-delay: 2.3s, 4s, 4s;
  }
  .shape-3 {
    @include stroke(1080px,1080px);
    animation-delay: 2.3s, 4s, 4s;
  }
  .shape-4 {
    @include stroke(1200px,1200px);
    animation-delay: 2.3s, 4s, 4s;
  }
  .shape-5 {
    @include stroke(800px,800px);
    animation-delay: 2.3s, 4s, 4s;
  }
