// ======================
// Keyframes
// ======================
@keyframes offset {
  0% {
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes dashed {
  100% {
    stroke-dasharray: 5;
  }
}

@keyframes runner {
  100% {
    stroke-dashoffset: 1050;
  }
}

// ======================
// Shape animation
// ======================

#shapes {
  opacity: 0;
  position: relative;
  top: 15px;
}

  .shape {
    animation: offset 2s linear forwards, dashed .01s linear forwards, runner 8s linear infinite forwards;
  }
  .shape-1 {
   @include stroke(1700,1700);
   animation-delay: 2.3s, 4s, 4s;
  }
  .shape-2 {
    @include stroke(1600,1600);
    animation-delay: 2.3s, 4s, 4s;
  }
  .shape-3 {
    @include stroke(1080,1080);
    animation-delay: 2.3s, 4s, 4s;
  }
  .shape-4 {
    @include stroke(1200,1200);
    animation-delay: 2.3s, 4s, 4s;
  }
  .shape-5 {
    @include stroke(800,800);
    animation-delay: 2.3s, 4s, 4s;
  }
