//==================================
//General styling
//==================================

html {
  font-family: circular;
  font-size: 62.5%;
  background: #1d478c; /* Old browsers */
  background-repeat: no-repeat;
  background: -moz-linear-gradient(45deg, #1d478c 0%, #002a66 100%) fixed; /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #1d478c 0%,#002a66 100%) fixed; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1d478c 0%,#002a66 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

ul{
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

  a {
    color: #fff;
    text-decoration: none;
    transition: color .3s ease;
    &:hover {
      color: #ffafb4;
    }
  }

  h2 {
    font-size: 22px;
    font-weight: 600;
    color: #50e3c2;
    margin: 40px 0 0 0;
  }


//==================================
// background lines styling
//==================================

.bg-line {
  @include size(1px);
  position: fixed;
  top: 0px;
  background: rgba(255,255,255,.1);
  display: block;
  z-index: 0;
  height: 0;
}
.bg-line1 {
  left: 10%;
}
.bg-line2 {
  left: 37.2%;
}
.bg-line3 {
  left: 64.6%;
}
.bg-line4 {
  left: 90%;
}

//==================================
//Header styling
//==================================

header {
  padding: 25px 0;
  @extend %animation;
  ul {
    @include flexbox(flex,row,wrap);
    justify-content: space-between;
    .logo {
      margin-right: auto;
      padding: 0;
    }
    li {
      padding: 0 30px;
      font-size: 1.4rem;
      color: #fff;
      padding-top: 5px;
      svg {
        margin-right: 1.6rem;
        position: relative;
        top: 4px;
      }
    }
  }
}

//==================================
//Content styling
//==================================
#content {
  margin-top: 35px;
  h1, p, h2, .secondary {
    @extend %animation;
  }
  h1 {
    font-size: 3.2rem;
    color: #fff;
    line-height: 4.4rem;
  }
  p {
    font-size: 1.8rem;
    color: #b4d1ff;
    line-height: 3rem;
    font-weight: 400;
  }
    .secondary {
      width: 100%;
      .skills, .bars {
        width: 25%;
        display: inline-block;
        box-sizing: border-box;
        li {
          font-size: 1.6rem;
          color: #fff;
          margin-top: 25px;
        }
      }
     .bars {
       width: 74%;

       li {
         position: relative;
        span {
          display: inline-block;
          background: #06295b;
          border-radius: 4px;
          height: 2px;
          width: 100%;
          margin-bottom: 5px;
        }
        .bar-color {
          position: relative;
          width: 0;
        }
        .html-progress {
          @include progress(87%,absolute,0px);
        }
        .css-progress {
          @include progress(70%,absolute,0px);
        }
        .js-progress {
          @include progress(60%,absolute,0px);
        }
        .jq-progress {
          @include progress(45%,absolute,0px);
        }
        .react-progress {
          @include progress(10%,absolute,0px);
        }
      }
    }
  }
  #shapes {
    @extend %animation;
    svg {
      max-width: 100%;
      @include size(545px, 547px);
    }
  }
}

#portfolio {
    background-color: #f8f8f8;
  .portfolio {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
    padding-bottom: 50px;

    li, img, .description {
      width: 380px;
      height: 200px;
    }

    li {
      margin-top: 50px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 5px;
      position: relative;

      img {
        border-radius: 5px;
        box-sizing: border-box;
      }

      .description {
        opacity: 0;
        position: absolute;
        border-radius: 5px;
        top: 0;
        background-color: rgba(56, 56, 56, .9);
        transition: all .3s ease;
        .go-to {
          position: absolute;
          bottom: 20px;
          left: 200px;
          color: #50e3c2;
          padding: 10px;
        }
        h3 {
          font-size: 16px;
          color: #FFB4AF;
          text-align: center;
          padding: 20px 0;
        }
        p {
          font-size: 14px;
          line-height: 1.5;
          color: #fff;
          justify-content: center;
        }
        h3, p {
          width: 90%;
          margin: auto;
        }
      }
    }
    li:hover .description {
      opacity: 1;
    }
  }
}

.safari {
  .shape {
    animation: none;
    stroke-dasharray: 3px;
  }
  .shape-1, .shape-2, .shape-3, .shape-4, .shape-5 {
    animation-delay: 0s;
  }
}

//==================================
// Footer styling
//==================================

#footer {
  @extend %animation;
  z-index: 5;
  background: #0e2347;
  height: 130px;
  width: 100%;
  padding-bottom: 40px;
  margin: auto;
  .footer {
    width: 80%;
    margin: auto;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 1.5rem;
    color: #fff;
    line-height: 2.2rem;
    span {
      color: #b4d1ff;
    }
  }
  svg {
    margin-right: 1.6rem;
    position: relative;
    top: 3px;
  }
  li {
    display: inline-block;
    margin-top: 1.6rem;
    width: 40%;
    a {
      color: #fff;
      font-size: 1.6rem;
      &:hover {
        color: #ffafb4;
      }
    }
    .social-media {
      path {
        fill: #fff;
      }
    }
  }
}

#footer-mobile,
#header-mobile {
  display: none;
}
